<!DOCTYPE html>
<html lang="en">

  {{!-- Head --}}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.css" />
  <link rel="stylesheet" href="/stylesheets/calendarstyle.css">
  <script type="text/javascript" src="/js/home.js" defer></script>
  <title>Calendar</title>
</head>
<body>
  
</body>
</html>

{{!-- Nav Bar --}}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" id="daily" href="">
        Daily Entry
      </a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="/resources">
        Resources
      </a>
    </div>
  </div>
</nav>

{{!-- Calendar render --}}
<div id="calendar"></div>

{{!-- Javascripts --}}
<script type="text/javascript" src="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.js"></script>
<script type="text/javascript" src="js/calendar.js"></script>