<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Calendar
      </a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Resources
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2><span class="date"></span></h2>
    </div>
  </div>
  <div class="columns col-md-4">
    <div class="Titles">
      Mood
    </div>
    <div class="moods">
      <input type="image"
        src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/smiling-face-with-open-mouth-and-smiling-eyes_1f604.png"
        name="estatic" alt="Grinning Face" class="btTxt submit moodimg" id="bigHappy" />
      <input type="image"
        src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/slightly-smiling-face_1f642.png"
        name="happy" alt="Happy Face" class="btTxt submit moodimg" id="regHappy" />
      <input type="image"
        src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/neutral-face_1f610.png"
        name="neutral" alt="Neutral Face" class="btTxt submit moodimg" id="neutral" />
      <input type="image"
        src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/slightly-frowning-face_1f641.png"
        name="slightly unhappy" alt="Slightly Unhappy Face" class="btTxt submit moodimg" id="slightUnhappy" />
      <input type="image"
        src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/crying-face_1f622.png"
        name="crying" alt="Crying Face" class="btTxt submit moodimg" id="crying" />
      <input type="image"
        src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/angry-face_1f620.png"
        name="angry" alt="Angry Face" class="btTxt submit moodimg" id="angry" />
    </div>
    <div class="titles">
      Habits
    </div>
    <div class="habits">
      <div class="form-group row">
        <div class="col-sm-5">Medication taken?</div>
        <div class="col-sm-7">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="medication">
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-5 col-form-label">Hours of Sleep?</label>
        <div class="col-sm-3">
          <input type="number" min="0" value="0" class="form-control" id="sleepTime">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-5 col-form-label">Minutes of Exercise?</label>
        <div class="col-sm-3">
          <input type="number" min="0" value="0" class="form-control" id="exerciseTime">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-5 col-form-label">Minutes Napping?</label>
        <div class="col-sm-3">
          <input type="number" min="0" value="0" class="form-control" id="napTime">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-5 col-form-label">Servings of Caffiene?</label>
        <div class="col-sm-3">
          <input type="number" min="0" value="0" class="form-control" id="caffieneCount">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-5 col-form-label">Servings of Alcohol?</label>
        <div class="col-sm-3">
          <input type="number" min="0" value="0" class="form-control" id="alcoholCount">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-5 col-form-label">Hours of Digital Media?</label>
        <div class="col-sm-3">
          <input type="number" min="0" value="0" class="form-control" id="mediaTime">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-5 col-form-label">Minutes Socializing?</label>
        <div class="col-sm-3">
          <input type="number" min="0" value="0" class="form-control" id="socialTime">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-5">Showered?</div>
        <div class="col-sm-7">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="showered">
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-5">Brush teeth?</div>
        <div class="col-sm-7">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="teeth">
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-5">Self Care?</div>
        <div class="col-sm-7">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="selfCare">
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="titles">
      Ailments
    </div>
    <div class="form-group row">
      <div class="col-sm-5">Headache?</div>
      <div class="col-sm-7">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="headAche">
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-5">Nausea?</div>
      <div class="col-sm-7">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="nausea">
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-5">Exhaustion?</div>
      <div class="col-sm-7">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="exhaustion">
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-5">Insomnia?</div>
      <div class="col-sm-7">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="insomnia">
          </label>
        </div>
      </div>
    </div>
        <div class="form-group row">
      <div class="col-sm-5">Menstruation?</div>
      <div class="col-sm-7">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="insomnia">
          </label>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle col-sm-7" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Appetite?
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item">Low</a>
        <a class="dropdown-item">Medium</a>
        <a class="dropdown-item">High</a>
        <a class="dropdown-item">Very High</a>
      </div>
    </div>
  </div>
  <div class="columns col-md-4">
    <div class="affirmation">
      Today's Affirmation:
      {{this.userName}}
    </div>
    <div class="grateful titles">
      Grateful For:
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">1.</span>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="greatful1" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">2.</span>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="greatful2" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">3.</span>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="greatful3" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">4.</span>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="greatful4" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">5.</span>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="greatful5" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="remember titles">
      Remember To:
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">1.</span>
      </div>
      <input type="text" class="form-control" placeholder="" aria-label="remember1" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">2.</span>
      </div>
      <input type="text" class="form-control" placeholder="" aria-label="remember2" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">3.</span>
      </div>
      <input type="text" class="form-control" placeholder="" aria-label="remember3" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">4.</span>
      </div>
      <input type="text" class="form-control" placeholder="" aria-label="remember4" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">5.</span>
      </div>
      <input type="text" class="form-control" placeholder="" aria-label="remember5" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="columns col-md-4">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Journal Entry</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="37"></textarea>
    </div>
    <button type="button" class="btn btn-primary" id="save">Save</button>
    <button type="button" class="btn btn-primary" id="submit">Submit</button>
    <button type="button" class="btn btn-primary" id="delete">Delete</button>
  </div>
</div>