{{!-- Header --}}
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Coming+Soon&family=Fredericka+the+Great&family=Love+Ya+Like+A+Sister&display=swap"
    rel="stylesheet">
   <script type="text/javascript" src="/js/home.js" defer></script>
  <title>Resources</title>
</head>

{{!-- Nav bar --}}
<nav class="navbar navbar-default resbar align-items-center">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" id="daily" href="">
        Daily Entry
      </a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="/calendar">
        Calendar
      </a>
    </div>
  </div>
</nav>

{{!-- Resources --}}
<div class="container fluid" id="resources">
  <h1 class="text-center">Resources</h1>
  <p class="text-center">While we are confident Life Point will assist in helping with your day to day life, we
    have provided a list of resources should you require further assitance. Below you can find links to
    hotlines, virtual access to licensed proffesionals as well as apps to help you get through the rough
    times.<br>Best of Luck!<i class="fa fa-smile-o" aria-hidden="true"></i></p>

{{!-- Hotline section --}}
  <h2 class="lead">Hotlines <i class="fa fa-life-ring" aria-hidden="true"></i></h2>
  <ul>
    <li><strong><a href="https://suicidepreventionlifeline.org/">National Suicide Prevention Lifeline
        </a></strong>:
      <h3 class="lead">Call: <a href="tel:800-273-8255">800-273-8255</a></h2>
        The Lifeline provides 24/7, free and confidential support for people in distress, prevention and
        crisis resources for you or your loved ones, and best practices for professionals.
    </li>
    <br>
    <li><strong><a href="https://www.samhsa.gov/find-help/national-helpline">Substance Abuse Mental Health
          Awareness National Helpline</a></strong>:
      <h3 class="lead">Call: <a href="tel:1-800-662-4357">1-800-662-HELP (4357)</a></h2>
        SAMHSA’s National Helpline is a free, confidential, 24/7, 365-day-a-year treatment referral and
        information service (in English and Spanish) for individuals and families facing mental and/or
        substance use disorders.
    </li>
    <br>
    <li><strong><a href="https://www.crisistextline.org/">Crisis Textline</a></strong>:
      <h3 class="lead">Text: "HELP" to <a href="sms:741741">741741</a></h2>
        Connect with a Crisis Counselor with this free 24/7 support at your fingertips.
    </li>
  </ul>

{{!-- Professionals section --}}
  <h2 class="lead">Licensed Professionals <i class="fa fa-heart-o" aria-hidden="true"></i></h2>
  <ul>
    <li><strong><a href="https://www.betterhelp.com/">BetterHelp</a></strong> <br>Affordable, private online
      counseling. Talk with a licensed, professional therapist online.</li>
    <br>
    <li><strong><a href="https://www.talkspace.com/">TalkSpace</a></strong><br>Connect with a licensed therapist
      from the palm of your hand, and experience the most convenient, affordable way to improve your mental
      health.</li>
  </ul>

{{!-- Apps section --}}
  <h2 class="lead">Apps To Help You Out <i class="fa fa-mobile" aria-hidden="true"></i></h2>
  <ul>
    <li><strong><a href="https://www.calm.com/">Calm</a></strong><br>Calm Is The #1 App For Mental Fitness,
      Famous For Its Guided Meditations & Sleep Stories.</li>
    <br>
    <li><strong><a href="https://www.headspace.com/">Headspace</a></strong><br>Live a healthier, happier, more
      well-rested life in just a few minutes a day with the Headspace app.</li>
  </ul>

</div>