body {
    display: flex;
    flex-direction: column;
    background-image: url('../img/Screen\ Shot\ 2020-09-12\ at\ 11.38.26\ AM.png') !important;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 85%;
    background-position-y: 24rem;
    background-position-x: center;
   
}

header {
    background-color: #49B1A7;
    font-weight: bolder;
    text-align: center;
    padding: 2rem;
    font-family: 'Neucha', cursive;
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
}

#button-a {
    background-color: #49B1A7;
    color: black;
    font-family: 'Neucha', cursive;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-spacing: 4rem;
    font-weight: bolder;
}

#button-b {
    background-color: #49B1A7;
    color: black;
    font-family: 'Neucha', cursive;
    margin-top: 5rem;
    padding: 2rem;
    border-spacing: 4rem;
    font-weight: bolder;    
}

#button-c {
    background-color: #49B1A7;
    color: black;
    margin-top: 5rem;
    font-family: 'Neucha', cursive;
    padding: 2rem;
    border-spacing: 4rem;
    font-weight: bolder; 
}

#button-c:hover {
    background-color: #A16C86;
}

#button-b:hover {
    background-color: #A16C86;
}

#button-a:hover {
    background-color: #A16C86;
}

.footer{
    background-color: gray;
    color: white;
    margin-top: 4rem;
    padding: 2rem;
    text-align: center;
    font-family: 'Neucha', cursive;
    font-weight: bolder;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}