body{
  background-image: url('../img/newbackground1.png') !important;
  background-size:cover;
  color: #8860D0;
}

header {
  background-color: #49B1A7;
  font-weight: bolder;
  text-align: center;
  padding: 2rem;
  font-family: 'Neucha', cursive;
}

nav {
  font-family: 'Neucha', cursive;
  justify-items: baseline;
}

.signup,
form.login {
  margin-top: 50px;
};

h2{
  text-decoration: underline;
};

.columns{
  border-style: solid;
  display: flex;
  flex-direction: row;
  color: #5AB9EA
};

.image{
  display:flex;
  flex-direction: row;
}

.moods{
  display: flex;
}

.imageCol{
  flex-direction: column;
}

.radioButton{
  margin: 1px;
}

.moodimg{
  padding: 5px;
  width: 35px;
  height: 35px;
}

.affirmation{
  height: 200px;
  border-style: solid;
}

#resources{
  background-color: aliceblue;
  border-radius: 1cm;
  border-style: solid;
  font-family: 'Neucha', cursive;
}

.resbar{
  font-family:'Neucha', cursive;
}


#exampleFormControlTextarea1{
  background-image: url(../img/bound.jpg);
  background-size: cover;
  padding-left: 50px;
  background-color: bisque;
}


.affirmation{
  background-image: url(../img/chalk.jpg);
  background-size: cover;
  background-color: black;
  text-decoration-color: white;
}
.footer{
  background-color: gray;
  color: white;
  margin-top: 4rem;
  padding: 2rem;
  text-align: center;
  font-family: 'Neucha', cursive;
  font-weight: bolder;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}