body{
  background-image: url('../img/newbackground1.png') !important;
  background-size:cover;
  color: #8860D0;
}

.signup,
form.login {
  margin-top: 50px;
};

h2{
  text-decoration: underline;
};

.columns{
  border-style: solid;
  display: flex;
  flex-direction: row;
  color: #5AB9EA
};

.image{
  display:flex;
  flex-direction: row;
}

.moods{
  display: flex;
}

.imageCol{
  flex-direction: column;
}

.radioButton{
  margin: 1px;
}

.moodimg{
  padding: 5px;
  width: 35px;
  height: 35px;
}

.affirmation{
  height: 200px;
  border-style: solid;
}

#resources{
  background-color: aliceblue;
  border-radius: 1cm;
  border-style: solid;
  font-family: 'Neucha', cursive;
}

.resbar{
  font-family:'Neucha', cursive;
}