body{
  background-image: url('../img/background.png') !important;
  background-size:cover;
  color: #8860D0;
}

.signup,
form.login {
  margin-top: 50px;
};

.Titles{
  font-size: 50px;
  text-decoration: underline;
};

.columns{
  border-style: solid;
  display: flex;
  flex-direction: row;
  color: #5AB9EA
};


.image{
  display:flex;
  flex-direction: row;
}

.moodimg{
  padding: 5px;
  width: 35px;
  height: 35px;
}

.affirmation{
  height: 200px;
  border-style: solid;
}

#resources{
  background-color: #c1aee4;
  opacity: .75;
}